/* Variables and mixins declared here will be available in all other SCSS files */

@mixin button(
    $background-color: var(--primary),
    $color: var(--primary-variant),
    $border-color: var(--secondary-variant),
    $shadow-color: var(--secondary)
) {
    user-select: none;
    cursor: pointer;
    font-size: 0.825em;
    align-self: center;
    padding-inline: 0.775em;
    padding-block: 0.225em;
    background-color: $background-color;
    color: $color;
    border: 0.2ch solid $border-color;
    width: fit-content;
    border-radius: 0.225em;
    &:hover,
    &:focus,
    &:focus-visible,
    &:focus-within {
        background-color: $color;
        color: $shadow-color;
        border: 0.2ch solid $border-color;
        filter: drop-shadow(0em 0em 0.125em $shadow-color);
        transition: all 170ms ease-in-out;
    }
}

@mixin scrollbar {
    scroll-behavior: smooth;
    scrollbar-color: var(--primary);
    scrollbar-width: 0.3ch;
    scrollbar-gutter: stable;
    &::-webkit-scrollbar {
        background-color: transparent;
        width: 0.3ch;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--primary);
        border-radius: 1em;
    }
}

/**
One key color becomes thirteen tones
A tonal palette consists of thirteen tones, including white and black. 
 tone value of 100 is equivalent to the idea of light at its maximum and results in white. 
Every tone value between 0 and 100 expresses the amount of light present in the color.
*/
@mixin tone($color, $tone: 0) {
    //Material theme's 13 predefined tones for chosen color
    //Preset values are:
    // 0 | 10 | 20 | 30 | 40 | 50 | 60 | 70 | 80 | 95 | 99 | 100
}
