:root{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    height: 100vh;
    height: 100vw;
    margin: 0;
    @supports (min-height: 100dvh) {
        height: 100dvh;
        width: 100dvw;
    }
}
button{
    background-color: var(--primary);
    color: var(--on-primary);
    border: .2ch solid var(--primary-variant);
    width: fit-content;
    border-radius: .225em;
}
button:hover{
    background-color: var(--primary-variant);
    color: var(--primary);
    border: .2ch solid var(--primary);
    filter: drop-shadow(0em 0em .125em var(--primary));
    transition: all 170ms ease-in-out;
}
#app {
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: auto;
}
